﻿@model KraviaDepartments.Models.Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewNote</title>
</head>
<body>
    <form asp-action="AddNewNote" asp-controller="Data">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label asp-for="Name" class="control-label">Name Of Department</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label">Address</label>
            <input type="text" asp-for="Address" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="HeadOfDepartment" class="control-label">Enter name for Head Of Department</label>
            <input type="text" asp-for="HeadOfDepartment" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="TeamSize" class="control-label">How many teammates ?</label>
            <input type="number" asp-for="TeamSize" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AverageSalary" class="control-label">Input average salary for teammates</label>
            <input type="number" asp-for="AverageSalary" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </form>
</body>
</html>
