﻿@model IEnumerable<KraviaDepartments.Models.Department>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexData</title>
</head>
<body>
    @Html.ActionLink("Add new Department", "AddNewNote");
    <table class="table">
        <tr><td></td><td>TeamName</td><td>Address</td><td>TeamSize</td><td>HeadOfDepartment</td><td>AverageSalary</td></tr>
        @foreach (var item in Model)
        {
            <tr><td>@item.Name</td><td>@item.Address</td><td>@item.TeamSize</td><td>@item.HeadOfDepartment</td><td>@item.AverageSalary</td></tr>
        }
    </table>
</body>
</html>
